@media (max-width: 1500px) {
	.girl {
		right: -10%;
	}
}
@media (max-width: 1390px) {
	.girl {
		right: -1%;
	}
}
@media (max-width: 1200px) {
	.container {
		max-width: 960px;
	}    
	.bg__content__holder {
		margin-left: 0;
	}
	.girl img {
		width: 900px;
	}
}
@media (max-width: 1000px) {
	.container {
		max-width: 748px;
	}
	.header__inner {
		gap: 60px;
	}
	.menu {
		gap:  30px;
	}
	.bg__wrapper {
		height: 500px;
	}  
	.bg__title {
		font-size: 26px;
		letter-spacing: 0.78px;
		margin-top: 30px;
		margin-bottom: 15px;
	}
	.bg__subtitle {
		font-size: 26px;
	}
	.girl {
		right: 0;
	}
	.girl img {
		width: 600px;
		height: auto;
	}
	.events__header {
		height: 60px;
	}
	.events__title {
		font-size: 35px;
	}
	.events__grid {
		height: 411px;
	}
	.events__inform {
		left: 10px;
	}
	.events__date {
		font-size: 16px;
	}
	.events__name {
		font-size: 20px;
	}
	.events__btn {
		padding: 15px 30px;
	}
}
@media (max-width: 768px) {
	.container {
		padding: 0 10px;
	}
	.header__menu {
		display: none;
	}
	.header__burger {
		display: block;
		order: 1;
	}
	.logo {
		width: 78px;
		height: 24px;
	}
	.logo:hover {
		width: 78px;
	}
	.logo:hover + nav {
		margin-left: 0;
	}
	.header__inner {
	    gap: 29px;
	 }
	 .socials {
	 	width: 73px;
	 	gap: 16px;
	 }
	 .header__sociai {
	 	width: 26px;
	 	height: 26px;
	 }
	 .header__sociai:hover {
		  width: 26px;
		  height: 26px;
		  margin: 0;
		  cursor: pointer;
	}
	.bg__wrapper {
		height: 429px;
		align-items: start;
		margin: 17px auto 100px;
	}
	.bg__content {
		flex-basis: 50%;
		max-width: 359px;
		margin-top: -5px;
	}
	.bg__title {
		font-size: 26px;
		margin-bottom: 35px;
	}
	.bg__subtitle {
		margin-bottom: -10px;
	}
	.holder__text {
		font-size: 16px;
		margin-bottom: 43px;
	}
	.bg__gradient {
		flex-basis: 50%;
		max-width: 359px;
	}
	.girl img {
		width: auto;
	}
	.bg__btn_down {
		width: 34px;
		height: 36px;
		left: 1px;
		bottom: 6px;
		background-size: 34px 36px;
	}
	.events__wrapper {
		height: auto;
		margin-bottom: 90px;
	}
	.events__title {
		font-size: 26px;
	}
	.events__header {
		height: 52px;
	}
	.events__grid {
		grid-template-columns: repeat(2, 1fr);
		height: auto;
		gap: 13px 12px;
	}
	.events__grid__item_1 {
		grid-column: 1/2;
		height: 309px;
	}
	.events__grid__item_2 {
		grid-column: 2/4;
		height: 309px;
	}
	.events__grid__item_3 {
		grid-column: 1/4;
		height: 336px;
	}
	.events__grid__item_3 .events__grid__cover {
		width: 748px;
		left: calc((100vw - 360px)/(768 - 360)*(300 - 0) + (-300px));  
	}
	.events__inform {
	  margin-top: 20px;
	  margin-left: 27.27px;
	}
	.events__grid__item_1 .events__inform {
		max-width: 182.682px;
	}
	.events__grid__item_2 .events__inform {
		max-width: 144.509px;
	}
	.events__grid__item_3 .events__inform {
		max-width: 135.474px;
	}
	.events__date {
		font-size: 12px;
		line-height: 100%;
	}
	.events__name {
		font-size: 16px;
		line-height: 120%;
		margin-top: 16px;
	}
	.events__view {
		width: 87px;
		height: 30px;
		font-size: 12px;
		left: 0;
	}
	.events__btn {
		width: 29px;
		height: 29px;
		display: block;
		right: 0;
		bottom: 0;
		left: auto;
		top: auto;
		transform: none;
		font-size: 0;
		box-shadow: none;
		opacity: 1;
		padding: 0;
		background-image: url(../images/mdi_add.svg);
		background-repeat: no-repeat;
		background-position: center;
	}
	.events__gradient {
		opacity: 0.3;
	}
	.schedule__wrapper {
		height: 716px;
	}
	.schedule__header {
		height: 64px;
		margin-bottom: 40px;
	}
	.schedule__title {
		width: 207px;
		font-size: 26px;
		line-height: normal;
	}
	.schedule__header__date {
		font-size: 16px;
		line-height: 120%;
		opacity: 0.7;
		margin-right: 0;
	}
	.schedule__grid {
		height: 712px;
		grid-template-columns: [start] 1fr [center] 1fr [end];
		grid-template-rows: [top] 1fr [midle-1] 1fr [midle-2] 1fr [bottom]
	}
	.schedule__grid__item {
		background-position: 30px calc(100% - 75px);
	}
		.schedule__grid__item_1 {
		grid-column: start / center;
		grid-row: top / midle-1;
		background-image: url(../images/body.svg);
		background-size: 65px;
	}
	.schedule__grid__item_2 {
		grid-column: start / center;
		grid-row: midle-1 / midle-2;
		background-image: url(../images/bottle.svg);
		background-size: 43px 85px;
	}
	.schedule__grid__item_3 {
		grid-column: start / center;
		grid-row: midle-2 / bottom;
		background-image: url(../images/dumbbell.svg);
		background-size: 91px 50px;
	}
	.schedule__grid__item_4 {
		grid-column: center / end;
		grid-row: top / midle-1;
		background-image: url(../images/jump.svg);
		background-size: 67px 106px;
	}
	.schedule__grid__item_5 {
		grid-column: center / end;
		grid-row: midle-1 / midle-2;
		background-image: url(../images/heart.svg);
		background-size: 65px 61px;
	}
	.schedule__grid__item_6 {
		grid-column: center / end;
		grid-row: midle-2 / bottom;
		background-image: url(../images/weight.svg);
		background-size: 58px 66px;
	} 
}
@media (max-width: 710px), (orientation: landscape) {
	.bg__gradient {
		flex-basis:  45%;	
	}
}
@media (max-width: 650px) {
	.bg__gradient {
		flex-basis:  36%;
	}
}
@media (max-width: 568px), (orientation: landscape) {
	.bg__wrapper {
		height: 675px;
	}
	.bg__content {
		flex-basis: 100%;
		max-width: 548px;
		margin-top: 0;
	}
	.bg__title {
		font-size: 24.693px;
		letter-spacing: 0.741px;
	}
	.bg__gradient {
		flex-basis:  100%;
		max-width: 548px;
		height: 283px;
	}
	.girl img {
		max-width: 100%;
	}
	.schedule__wrapper {
		height: 859px;
	}
	.schedule__header {
		margin-bottom: 20px;
	}
	.schedule__grid {
		height: 784px;
		grid-template-columns: 1fr;
		grid-template-rows: [top] 114px [midle-1] 114px [midle-2] 114px [midle-3] 114px [midle-4] 114px [midle-5] 114px [bottom];
	}
	.schedule__grid__item {
		background-position: 20px calc(100% - 22px);
		grid-column: auto;
	}
	.schedule__grid__item__name {
		margin-left: 75px;
	}
		.schedule__grid__item_1 {
		grid-row: top / midle-1;
		background-size: 39px;
	}
	.schedule__grid__item_2 {
		grid-row: midle-2 / midle-3;
		background-size: 23px 45px;
	}
	.schedule__grid__item_3 {
		grid-row: midle-4 / midle-5;
		background-size: 46px 25px;
	}
	.schedule__grid__item_4 {
		grid-row: midle-1 / midle-2;
		background-size: 34px 53px;
	}
	.schedule__grid__item_5 {
		grid-row: midle-3 / midle-4;
		background-size: 39px 37px;
	}
	.schedule__grid__item_6 {
		grid-row: midle-5 / bottom;
		background-size: 35px 40px;
	}
}
@media (max-width: 360px), (orientation: landscape) {
	.header__top {
		margin-top: 13px;
	}
	.bg__wrapper {
		height: 644px;
		margin: 14px auto 125px;
	}
	.bg__gradient {
		height: 216px;
		margin-bottom: -31px;
	}
	.bg__content__holder {
		width: 100%;
	}
	.holder__button {
		width: 100%;
		padding: 20px 0;
		justify-content: center;
	}
	.bg__btn_down {
		display: none;
	}
	.events__wrapper {
		margin-bottom: 77px;
	}
	.events__grid {
		gap: 13px 7px;
	}
	.events__grid__item_3 .events__grid__cover {
		width: 100%;
		left: auto;
	}
	.events__inform {
		margin-left: 20px;
		margin-top: 17px;
	}
	.events__grid__item_3 .events__inform {
		max-width: 130px;
	}
	.events__name {
		margin-top: 18px;
	}
	.schedule__header {
		margin-bottom: 24px;
	}
	.schedule__grid__item {
		padding: 20px 22px 30px;
		background-position: 20px calc(100% - 20px);
	}
	.schedule__grid__item:hover {
	  border-color: #000;
	}
	.schedule__grid__item:hover .schedule__gradient {
		opacity: 0;
	}
	.schedule__grid__item_4 {
		background-position: 20px calc(100% - 12px);
	}
	.schedule__grid__item__name {
		font-size: 16px;
		line-height: 120%;
		margin-left: 53px;
	}
	.schedule__grid__item__date {
		font-size: 16px;
		line-height: 150%;
	}
}