body {
	max-width: 1920px;
	min-width: 360px;
	margin: 0 auto;
	background: #fefcfe;
	overflow-x: hidden;
	font-family: 'Montserrat', sans-serif;
	color: #2b3541;
}
ul {
	padding: 0;
	list-style-type: none;
}
.container {
	max-width: 1140px;
	margin: 0 auto;
}
.wrapper {
	position: relative;
	width: 100%;
	display: flex;
}

/* HEADER  */
.header {
	width: 100%;
	min-height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
}
.burger {
	width: 29px;
	height: 22px;
	background-image: url(../images/burger-1.svg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	display: none;
}
.header__button {
	width: 100%;
	height: 100%;
	border: none;
	background-color: transparent;
}
.header__button:hover {
	cursor: pointer;
}
.header__inner {
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 94px;
}
.logo {
	display: block;
	width: 96px;
	height: 30px;
	background-image: url(../images/logo.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}
.logo:hover {
	width: 97px;
}
.logo:hover + nav {
	margin-left: -1px;
}
.menu {
	max-width: 470px;
	height: 27px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 54px;
}
.header__menu_item {
  margin-top: 10px;
}
.header__menu_item a {
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	text-decoration: none;
	color: #2b3541;
}
.header__menu_item a::after {
	content: "";
	width: 100%;
	height: 1px;
	border: none;
	margin-top: 10px;
	display: block;
	background-color: transparent;
	transition: 0.3s;
}
.header__menu_item:hover.header__menu_item a::after {
	background-color: #2b3541;
}
.socials {
	width: 90px;
	height: 30px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 30px;
}
.header__sociai {
	display: block;
	width: 30px;
	height: 30px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	transition: 0.3s;

}
.header__sociai_in {
	background-image: url(../images/in.svg);
}
.header__sociai_fb {
	background-image: url(../images/fb.svg);
}
.header__sociai:hover {
	width: 38px;
	height: 38px;
	margin: 0 -4px;
	cursor: pointer;
}

/* BG  */
/*
.bg {
	background-image: url(../images/girl.png);
	background-repeat: no-repeat;
	background-position: 90% 100%;
	z-index: 10;

}  */
.bg__wrapper {
	height: 852px;
	position: relative;
	margin: 11px auto 160px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}
.bg__content {
	flex-basis: 59%;
	max-width: 676px;
	min-height: 385px;
}
.title {
	font-size: 48px;
	font-weight: 700;
	line-height: 125%;
	letter-spacing: 1.44px;
	text-transform: uppercase;
	margin-top: -3px;
	margin-bottom: 41px;
}
.bg__subtitle {
	width: 345px;
	height: 50px;
	display: flex;
	justify-content: start;
	align-items: center;
	gap: 20px;
	font-size: 40px;
	font-weight: 400;
	line-height: 125%;
}
.bg__content__holder {
	width: 293px;
	margin-left: 94px;
}
.holder__text {
	font-size: 18px;
	font-weight: 400;
	line-height: 150%;
	margin-bottom: 37px;
}
.holder__button {
	display: inline-flex;
	padding: 20px 30px;
	align-items: center;
	gap: 10px;
	background-color: #fbf138;
	box-shadow: 0px 13px 24px 0px rgba(251, 241, 56, 0.30);
	border: none;
	font-size: 16px;
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 0.48px;
	text-transform: uppercase;
	transition:  0.3s;
}
.holder__button:hover {
	background-color: #2b3541;
	box-shadow: 0px 13px 24px 0px rgba(70, 86, 106, 0.20);
	color: #fbf138;
	cursor: pointer;
}
.bg__gradient {
	flex-basis: 41%;
	width: 464px;
	height: 100%;
	opacity: 0.2;
	background: linear-gradient(90deg, #FBF138 0%, rgba(253, 249, 182, 0.45) 145.23%);
}
.girl {
	position: absolute;
	right: -15%;
	bottom: 0;
}
.bg__btn_down {
	width: 52px;
	height: 53px;
	border: 3px solid #2B3541;
	border-radius: 50%;
	position: absolute;
	left: 0;
	bottom: 0;
	background-image: url(../images/arrow.svg);
	background-repeat: no-repeat;
	background-position: center;
} 